.head-list{
	border-bottom: 1px solid #e9e9e9;
}
.breadcrumb li,.breadcrumb li a,.breadcrumb>.active {
	font-size: 1em;
}
#breadcrumb a{
	color: #9e9e9e;	
}
#breadcrumb a.active{
	color: black;	
}
.panel-default .panel-heading {
	background-color: #FFFFFF;
	border-color: #f0f2f6;
	padding: 13px;
	padding-left: 1px;
	font-size: 1.416em;
	margin: 20px;
	margin-bottom: 10px;
	padding-bottom: 45px;
}
.panel-footer, .panel>:last-child {
	padding-top:10px; 
}
.panel-body{
	padding-top:5px; 
}
.table-bordered {
	border: none;
}
#container .table-bordered th ,#container .table-bordered td{
	border-right: none !important;
	border-left: none !important;
	text-transform: capitalize;
}


.panel hr {
	margin:5px;
}
table th{
	text-transform: capitalize !important;
}
table th.center, table td.center{
	text-align: center;
}
table td{
	vertical-align: middle !important;	
}
table td.no-capitalize{
	text-transform: none;
}
table th:first-child{
	width: 3%;
}
table th:last-child{
	width: 14%;
}
table td.td_no_data{
	text-align: center;
	color: orange;
	text-transform: capitalize;
}
table tr.tr-head td input{
	background-color: rgb(220, 249, 188);;
	color: black;
	font-weight: bold;
}
/*----------------- pagination -------------------*/

.pagination{
	font-size: 11px;
	margin: 7px 0;
	text-align: right;
	float: right;
}

.tablefooter .pagination{
	float: right;
	padding: 5px 10px;
}

.pagination a, .pagination strong{
	padding:7px 10px;
	color: #333;
	background: white;
	margin: 0;
	border: 1px solid #E4E4E4;
	text-decoration: none;
	border-radius: 3px;
}

.pagination strong{
	font-weight: bold;
	color: #ffffff;
	background: #428bca;
}
/*----------------- pagination ends-------------------*/
#container .badge {
	/*margin-right: 5px;*/
}

/* preserve old tabs styles*/
li {
	margin-left: 0px !important;
}
p{
	margin:0px !important;
}

/* remove border for campaign pics inuput btn*/
input {
	/*border: none !important;*/
}

#page-content {
	padding: 0px 25px 0; 
}

input[type=file]{
	border: none !important;
}

/*filter at table*/
.filter{
	/*border-top: 1px dotted rgba(182, 184, 184, 0.99);*/
}
.filter td{
	border: none !important;
}
.filter .form-group{
	margin-bottom: 0px;
	margin-top: 0px;
}
/*filter at table*/

.badge-info{
	background-color: #4ebcda !important;
}
.username{
	text-transform: capitalize;
}
footer{
	background-color: rgb(18, 53, 79);
	padding-top: 20px !important;
	color: rgb(200, 199, 199);
	position: none !important;
}

/*accordian table*/
tbody.accordian tr.child-permission{
	display: none;
}
tbody.accordian tr:hover{
	cursor: pointer !important;
}
.col-md-6.col-lg-3{opacity: 0.8}
.col-md-6.col-lg-3:hover{opacity: 1}

.navbar-brand{
	padding-top: 5%;
	/*text-align: center;*/
}

