/* LavaLamp Specific CSS: */

/* Demo 1 - Spaceship returnHome Demo */
/*#lavaLampBasicImage {
position: relative;
width: 444px;
background: url("images/bg.gif") no-repeat top;
padding: 15px;
padding-right:5px;
margin: 10px 0;
overflow: hidden;
height:40px;
}
#lavaLampBasicImage li {
float: left;
list-style: none;
}
#lavaLampBasicImage li.backLava {
background: url("images/lava.gif") no-repeat right -30px;
width: 9px; height: 30px;
z-index: 8;
position: absolute;
}
*//*#lavaLampBasicImage li.backLava .leftLava {
background: url("images/lava.gif") no-repeat top left;
height: 30px;
margin-right: 9px;*/ /* 7px is the width of the rounded shape */
/*}*/
/*#lavaLampBasicImage li a {
font: bold 14px arial;
text-decoration: none;
color: #fff;
outline: none;
text-align: center;
top: 7px;
text-transform: uppercase;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
height: 30px;
position: relative;
overflow: hidden;
margin: auto 8px;    
}
#lavaLampBasicImage li a:hover, #lavaLampBasicImage li a:active, #lavaLampBasicImage li a:visited {
color: #fff;
border: none;
}*/

/* Demo 2 - Vote Default on item 2 */
/*#lavaLampVariableImage {
position: relative;
width: 400px;
padding: 15px;
margin: 10px 0;
overflow: hidden;
border:solid 1px #CC6600;
}
#lavaLampVariableImage li {
float: left;
display:inline;
list-style: none;
}
#lavaLampVariableImage li.backLava {
background: url("images/slider-right.gif") no-repeat top right;
width: 24px;
z-index: 8;
position: absolute;
}
#lavaLampVariableImage li.backLava .leftLava {
background: url("images/slider-bg.gif") no-repeat top left;
height: 100%;
margin-right:24px;
}
#lavaLampVariableImage li.backLava .cornerLava {
background: url("images/slider-corner.gif") no-repeat bottom right;
height:27px;
width:24px;
position:absolute;
bottom:0px;
right:0px;
}
#lavaLampVariableImage li.backLava .bottomLava {
background: url("images/slider-bottom.gif") no-repeat bottom left;
height:27px;
width:100%;
position:absolute;
bottom:0px;
left:0px;
}
#lavaLampVariableImage li a {
font: bold 14px arial;
text-decoration: none;
color:#333333;
outline: none;
text-align: center;
padding: 17px 10px;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
position: relative;
overflow: hidden;
margin: auto 10px;    
}
#lavaLampVariableImage li a:hover, #lavaLampVariableImage li a:active, #lavaLampVariableImage li a:visited {
color: #333;
border: none;
}*/

/* Demo 3 - returnDelay Demo */
/*#lavaLampBorderOnly {
position: relative;
width: 500px;
background-color: white;
padding: 15px;
margin: 10px 0;
overflow: hidden;
border: 1px solid #CC6600;
}
#lavaLampBorderOnly li {
float: left;
list-style: none;
}
#lavaLampBorderOnly li.backLava {
border: 1px dashed #003399;
background-color:#99CCCC;
width: 9px;
z-index: 8;
position: absolute;
}
#lavaLampBorderOnly li a {
font: bold 14px arial;
text-decoration: none;
color: #000;
outline: none;
text-align: center;
padding: 5px 10px;
text-transform: uppercase;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
position: relative;
overflow: hidden;
margin: auto 10px;
}*/


/* Demo 4 - onClick & setOnClick:false demo */
/*#lavaLampVertical {
position: relative;
width: 200px;
background-color:#000066;
padding: 15px;
margin: 10px 0;
overflow: hidden;
border: 2px dashed #0066FF;
}
#lavaLampVertical li {
list-style: none;
}
#lavaLampVertical li.backLava {
border-bottom: 2px dashed #FF9900;
z-index: 8;
position: absolute;
}
#lavaLampVertical li a {
font: bold 14px 'Times',serif;
text-decoration: none;
color: #FFF;
outline: none;
text-align: left;
padding: 10px 5px 3px;
letter-spacing: 2px;
z-index: 10;
display: block;
position: relative;
overflow: hidden;
margin: auto 10px;
}*/


/* Demo 5 - autoReturn:false demo  */
/*#lavaLampFun {
position: relative;
width: 500px;
background-color: white;
padding: 15px;
margin: 10px 0;
overflow: hidden;
border: 1px solid #CC6600;
}
#lavaLampFun li {
float: left;
list-style: none;
padding-left:24px;
margin-left:5px;
}
#lavaLampFun li.backLava {
background: url("images/baseball.png") no-repeat left;
z-index: 8;
position: absolute;
height: 30px;
}
#lavaLampFun li a {
font: bold 14px arial;
text-decoration: none;
color: #000;
outline: none;
text-align: center;
top: 7px;
text-transform: uppercase;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
height: 30px;
position: relative;
overflow: hidden;
margin: auto 10px;
}   
#lavaLampFun li a:hover {
border: none;
}*/

/* Demo 6 - returnHome and homing demo */
#lavaLampHome {
		/*border-top: 1px solid #dc7b14;*/

position: relative;
width: 270px;
/*background-color:#FFFFDD;*/
padding: 0 10px 10px 10px;
margin: 1px 0 0 20px;
overflow: hidden;
/*border: 1px solid #663300;*/
}
#lavaLampHome li {
float: left;
list-style: none;
}
#lavaLampHome li.backLava {
	border-bottom: 1px solid #dc7b14;
	border-left: 1px solid #dc7b14;
	border-right: 1px solid #dc7b14;
	border-radius:1px 1px 15px 15px;


background-color:#FFCC99;
width: 9px;
position: absolute;
}
#lavaLampHome li a {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-radius:1px 1px 15px 15px;
	-moz-box-shadow: 0 1px 2px 2px #ddd;
	-webkit-box-shadow: 0 1px 2px 2px #ddd;
	box-shadow: 0 2px 0 0 #ddd;

font:12pt Georgia, "Times New Roman", Times, serif;
text-decoration: none;
color: #330033;
text-align: center;
padding: 8px 10px;
letter-spacing: 0;
z-index: 10;
display: block;
float: left;
position: relative;
margin: auto 3px;
}

/* lavaLampMulti */
/*#lavaLampMulti {
font: 13px tahoma;
position:relative;
padding: 0;
margin: 5px 0;
overflow: hidden;
width:200px;
background-color:#0066CC;
border:2px inset #0066CC;
}
#lavaLampMulti li {
list-style: none;
}
#lavaLampMulti li.backLava {
background-color:#000;
width: 9px;
position: absolute;
}
#lavaLampMulti li a {
text-decoration: none;
color: #FFC;
margin: 10px;
padding: 5px;
z-index: 10;
display: block;
position: relative;
}*/

/* menu */
/*#menu {
font: 13px tahoma;
position:relative;
padding: 10px;
margin: 10px 0;
overflow: hidden;
}
#menu li {
float: left;
list-style: none;
}
#menu li.backLava {
background-color:#CDE2FF;
width: 9px;
position: absolute;
}
#menu li a {
text-decoration: none;
color: #000;
text-align: center;
padding: 2px 5px;
z-index: 10;
display: block;
position: relative;
margin: auto 5px;
}
*/