body, td, pre {
    color:#000; 
    font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:11pt;
}
pre.code{
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
    background-color: #E4E4E4;
    font-size: 13px;
    padding: 8px 10px;
    color: #661D1D;
    display: inline-block;
}
